*.iml
.DS_Store
.gradle
/.idea/libraries
/.idea/workspace.xml
/build
/captures
/local.properties
deepdive/build/
src/androidTest/java/org/
src/debug/docs/
src/main/java/jadx/org/
src/main/java/org/
src/release/
/docs/personal_todo.md
