<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController">
<head>
    <title>Device: {{ manufacturer }} {{ model }}</title>

    <script src="/js/angular.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/probe.css" rel="stylesheet">

</head>

<body>
<!-- Bootstrap core JavaScript -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<div ng-include="'./navbar.htm'"></div>

<div class="container">

    <div align="center">
        <h1>Device: {{ manufacturer }} {{ model }}</h1>
    </div>
    <br>

    <div align="center">

        <table class="card">
            <tr>
                <td></td>
                <td> <strong>Manufacturer</strong> </td>
                <td> {{ manufacturer }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>Model</strong> </td>
                <td> {{ model }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>Unique Install ID</strong> </td>
                <td> {{ uniqueInstallId }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>SDK</strong> </td>
                <td> {{ sdk }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>SDK Description</strong> </td>
                <td> {{ sdk_details }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>OS Version</strong> </td>
                <td> {{ os_version }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>Incremental Build</strong> </td>
                <td> {{ incremental }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>Security Patch</strong> </td>
                <td> {{ security_patch }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>Internal Memory</strong> </td>
                <td> {{ internalMemorySize }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>External Storage Available</strong> </td>
                <td> {{ externalStorageAvailable }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>External Storage</strong> </td>
                <td> {{ externalStorageSize }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>SSL</strong> </td>
                <td> {{ ssl }} </td>
            </tr>
            <tr ng-repeat="wifi in wifiList">
                <td></td>
                <td> <strong>Wifi SSID</strong> </td>
                <td> {{ wifi }} </td>
            </tr>
        </table>
        <h3>App Storage (removed when app is uninstalled)</h3>
        <table class="card">
            <th>Name</th>
            <th>Path</th>
            <th>Read</th>
            <th>Write</th>
            <th>Removable</th>
            <th>Total space</th>
            <th>Free space</th>

            <tr ng-repeat="storage in storagePrivate">
                <td>{{storage.name}}</td>
                <td>{{storage.path}}</td>
                <td align="center">{{storage.can_read | checkmark}}</td>
                <td align="center">{{storage.can_write | checkmark}}</td>
                <td align="center">{{storage.removable | checkmark}}</td>
                <td>{{storage.total_space | bytes}}</td>
                <td>{{storage.free_space | bytes}}</td>
            </tr>
        </table>
    </div>

</div><!-- /card-container -->

<br>
<br>

<div ng-include="'footer.htm'"></div>

<script>

var app = angular.module('myApp', []);
app.controller('myController', function($scope, $http, $parse) {

     $scope.year = new Date().getFullYear(); // footer copyright year

     $http.get("/device/info")
       .then(function (response) {

        // Returned data is currently a string, convert it to JSON
        var device = $.parseJSON( response.data.device );

        $scope.manufacturer = device.manufacturer;
        $scope.model = device.model;
        $scope.security_patch = device.security_patch;
        $scope.uniqueInstallId = device.uniqueInstallId;
        $scope.ssl = device.ssl;
        $scope.wifiList = device.wifiList;

        $scope.storagePrivate = device.storagePrivate;

        $scope.externalStorageAvailable = device.externalStorageAvailable;
        $scope.internalMemorySize = device.internalMemorySize;
        $scope.externalStorageSize = device.externalStorageSize;

        $scope.os_version = device.deviceInfo.os_version;
        $scope.os_name = device.deviceInfo.os_name;
        $scope.incremental = device.deviceInfo.incremental;
        $scope.sdk = device.deviceInfo.sdk;
        $scope.sdk_details = device.deviceInfo.sdk_details;

     });
});

app.filter('bytes', function() {
	return function(bytes, precision) {
		if (bytes==0 || isNaN(parseFloat(bytes)) || !isFinite(bytes)) return '-';
		if (typeof precision === 'undefined') precision = 1;
		var units = ['bytes', 'kB', 'MB', 'GB', 'TB', 'PB'],
			number = Math.floor(Math.log(bytes) / Math.log(1024));
		return (bytes / Math.pow(1024, Math.floor(number))).toFixed(precision) +  ' ' + units[number];
	}
});
app.filter('checkmark', function() {
 return function getCheckmark(input) {
    return input ? '\u2713' : '\u2718';
  };
});


</script>
</body>
</html>