<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController">
<head>
    <title>Device: {{ manufacturer }} {{ model }}</title>

    <script src="/js/angular.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/probe.css" rel="stylesheet">

</head>

<body>
<!-- Bootstrap core JavaScript -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<div ng-include="'./navbar.htm'"></div>

<div class="container">

    <div align="center">
        <h1>Device: {{ manufacturer }} {{ model }}</h1>
    </div>
    <br>

    <div align="center">

        <table class="card">
            <tr>
                <td></td>
                <td> <strong>Manufacturer</strong> </td>
                <td> {{ manufacturer }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>Model</strong> </td>
                <td> {{ model }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>Unique Install ID</strong> </td>
                <td> {{ uniqueInstallId }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>SDK</strong> </td>
                <td> {{ sdk }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>SDK Description</strong> </td>
                <td> {{ sdk_details }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>OS Version</strong> </td>
                <td> {{ os_version }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>Incremental Build</strong> </td>
                <td> {{ incremental }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>Security Patch</strong> </td>
                <td> {{ security_patch }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>Internal Memory</strong> </td>
                <td> {{ internalMemorySize }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>External Storage Available</strong> </td>
                <td> {{ externalStorageAvailable }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>External Storage</strong> </td>
                <td> {{ externalStorageSize }} </td>
            </tr>
            <tr>
                <td></td>
                <td> <strong>SSL</strong> </td>
                <td> {{ ssl }} </td>
            </tr>
            <tr ng-repeat="account in accounts">
                <td></td>
                <td> <strong>Account</strong> </td>
                <td> {{ account }} </td>
            </tr>
            <tr ng-repeat="wifi in wifiList">
                <td></td>
                <td> <strong>Wifi SSID</strong> </td>
                <td> {{ wifi }} </td>
            </tr>
        </table>
    </div>

</div><!-- /card-container -->

<br>
<br>

<div ng-include="'footer.htm'"></div>

<script>

var app = angular.module('myApp', []);
app.controller('myController', function($scope, $http, $parse) {

     $scope.year = new Date().getFullYear(); // footer copyright year

     $http.get("/device/info")
       .then(function (response) {

        // Returned data is currently a string, convert it to JSON
        var device = $.parseJSON( response.data.device );

        $scope.manufacturer = device.manufacturer;
        $scope.model = device.model;
        $scope.security_patch = device.security_patch;
        $scope.uniqueInstallId = device.uniqueInstallId;
        $scope.ssl = device.ssl;
        $scope.accounts = device.accounts;
        $scope.wifiList = device.wifiList;

        $scope.externalStorageAvailable = device.externalStorageAvailable;
        $scope.internalMemorySize = device.internalMemorySize;
        $scope.externalStorageSize = device.externalStorageSize;

        $scope.os_version = device.deviceInfo.os_version;
        $scope.os_name = device.deviceInfo.os_name;
        $scope.incremental = device.deviceInfo.incremental;
        $scope.sdk = device.deviceInfo.sdk;
        $scope.sdk_details = device.deviceInfo.sdk_details;

     });
});

</script>
</body>
</html>