<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController">

<head>
    <title>Keystore</title>

    <script src="/js/angular.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

</head>

<body>
<!-- Bootstrap core JavaScript -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<div ng-include="'./navbar.htm'"></div>

<div class="container">

    <div align="center">
        <h1>Keystore</h1>
    </div>
    <br>

    <div align="left">

        <table align="center">

            <tr>
                <td>
                    Android Lockscreen:
                </td>
                <td>
                    {{ lockscreen_test }}
                </td>
                <td>
                    {{ lockscreen_test_message }}
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-primary" ng-click="createKey()">Create<br>key pair</button>
                </td>
                <td>
                    <input placeholder="Enter alias" type="text" ng-model="create_key_alias" size="15"/>
                </td>
                <td>
                    {{ create_key_error }}
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-primary" ng-click="deleteKey()">Delete<br>key pair</button>
                </td>
                <td>
                    <input placeholder="Enter alias" type="text" ng-model="delete_key_alias" size="15"/>
                </td>
                <td>
                    {{ delete_key_error }}
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-primary" ng-click="encryptWithKey()">Encrypt/w<br>public key</button>
                </td>
                <td>
                    <input placeholder="Enter alias" type="text" ng-model="encrypt_key_alias" size="15"/>
                </td>
                <td>
                    <input placeholder="Enter cleartext" type="text" ng-model="encrypt_cleartext" size="50"/>
                    {{ encrypt_error }}
                </td>
            </tr>
            <tr bgcolor="#dfeedf">
               <td colspan="3">{{ ciphertext }}</td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-primary" ng-click="decryptWithKey()">Decrypt/w<br>private key</button>
                </td>
                <td>
                    <input placeholder="Enter alias" type="text" ng-model="decrypt_key_alias" size="15"/>
                </td>
                <td>
                    {{ decrypt_cleartext }}
                    {{ decrypt_error }}
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-primary" ng-click="getKeys()">Get<br>key pairs</button>
                </td>
            </tr>
            <tr ng-repeat="key in keys | orderBy: 'alias'">
                <td  bgcolor="#deeff5">
                    {{ key.alias }}
                </td>
                <td colspan="2" style="white-space:pre" bgcolor="#deeff5" >
                    {{ key.certificate }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="https://developer.android.com/training/articles/keystore.html">Android Keystore System</a>
                    <br>
                    <a href="https://developer.android.com/reference/javax/crypto/Cipher.html">Android Cipher</a>
                    <br>
                    <a href="https://github.com/nelenkov/android-keystore">github.com/nelenkov/android-keystore</a>
                    <br>
                    <a href="http://nelenkov.blogspot.com/2012/05/storing-application-secrets-in-androids.html">Blog 2012/05</a>
                    <br>
                    <a href="http://nelenkov.blogspot.com/2013/08/credential-storage-enhancements-android-43.html">Blog 2013/08</a>
                </td>
                <td>
                    Android developer training, keystore system <br>
                    Android developer reference, Cipher <br>
                    Sample code for storing application secrets in Android credential storage <br>
                    Storing application secrets in Android's credential storage <br>
                    Password storage in Android M <br>
                </td>
            </tr>

        </table>

    </div>


</div>

<br>
<br>

<div ng-include="'footer.htm'"></div>

<script>

var app = angular.module('myApp', []);
app.controller('myController', function($scope, $http, $parse) {

  $scope.year = new Date().getFullYear(); // footer copyright year

  $http.get("/device/keystore/?cmd=debug&test_id=lockscreen_test")
    .then(function (response) {

     $scope.lockscreen_test = response.data.result.lockscreen_test;

     if( response.data.result.error.length > 0 )
        $scope.lockscreen_test_message = response.data.result.error;
     else
        $scope.lockscreen_test_message =
            "Must be enabled to use keystore. Disable and the keystore will be deleted."
  });

  $scope.create_key_error = "A key pair's public key is used for encryption and private key for decryption.";

  $scope.createKey = function(){

     $scope.create_key_error = "";

     $http.get("/device/keystore/?cmd=debug&test_id=create_key&key_alias="+$scope.create_key_alias)
       .then(function (response) {

        if( response.data.result.error.length == 0){
            $scope.create_key_error = "Success";
        }else{
            $scope.create_key_error = "Failure";
        }
     });
   };

  $scope.deleteKey = function(){

     $scope.delete_key_error = "";

     $http.get("/device/keystore/?cmd=debug&test_id=delete_key&key_alias="+$scope.delete_key_alias)
       .then(function (response) {

        if( response.data.result.error.length == 0){
            $scope.delete_key_error = "Success";
        }
        else{
            $scope.delete_key_error = "Failure";
        }
     });
   };

  $scope.encryptWithKey = function(){

     $scope.encrypt_error = "";
     $scope.ciphertext = "";

     $http.get("/device/keystore/?cmd=debug&test_id=encrypt&key_alias="+$scope.encrypt_key_alias
                                                   +"&cleartext="+$scope.encrypt_cleartext)
       .then(function (response) {

        if( response.data.result.error.length == 0){
            $scope.ciphertext = response.data.result.ciphertext;
        }
        else
            $scope.encrypt_error = response.data.result.error;
     });
   };

  $scope.decryptWithKey = function(){

     $scope.decrypt_error = "";
     $scope.decrypt_cleartext = "";

     $http.get("/device/keystore/?cmd=debug&test_id=decrypt&key_alias="+$scope.decrypt_key_alias
                                                 +"&ciphertext="+$scope.ciphertext)
       .then(function (response) {

        $scope.decrypt_error = response.data.result.error;

        if( response.data.result.error.length == 0){
            $scope.decrypt_cleartext = response.data.result.cleartext;
        }
        else
            $scope.decrypt_error = response.data.result.error;
     });
   };

  $scope.getKeys = function(){

     $scope.keys = [];

     $http.get("/device/keystore/?cmd=debug&test_id=get_keys")
       .then(function (response) {

        $scope.keys = response.data.result.keys;
     });
   };

});

</script>
</body>
</html>