<!DOCTYPE html>
<html ng-app="myApp" ng-controller="appListController">
<head>
    <title>Log Cat</title>

    <script src="/js/angular.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/probe.css" rel="stylesheet">

</head>

<body>
<!-- Bootstrap core JavaScript -->
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<div class="container">

    <br>
    <br>
    <div align="center">
        <a href="/"><img src="/img/icon_64.png"></a>
        <h1>Log Cat</h1>
    </div>
    <br>

    <div align="center">

        <table class="card">
            <tr>
                <td>
                    <input placeholder="Search" type="text" ng-model="search"> # {{ (logcat|filter:search).length }}
                    <button ng-click="refreshLog()"><span class="glyphicon glyphicon-refresh"></span></button>
                    <button ng-click="clearLog()"><span class="glyphicon glyphicon-remove"></span></button>
                    <br>
                </td>
            </tr>
            <tr ng-repeat="line in logcat | filter : search track by $index">
                <td style="padding: 2px 0;"> {{ line }} </td>
            </tr>
        </table>
    </div>


</div><!-- /card-container -->

<br>
<br>
<br>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
    <p>
        &copy;
        <script>
			var d = new Date();
			document.write(d.getFullYear());
		</script>
        Nuvolect LLC -
        <a href="https://nuvolect.com/deepdive_terms/" target="_blank">Terms</a>
        -
        <a href="https://nuvolect.com/privacy/" target="_blank">Privacy</a>
        -
        <a href="https://nuvolect.com/deepdive_help/" target="_blank">Help</a>
    </p>
</div>

<script>

var app = angular.module('myApp', []);
app.controller('appListController', function($scope, $http, $parse) {

     $scope.logcat = [];

     $http.get("/device/logcat")
       .then(function (response) {

        // Returned data is currently a string, convert it to JSON
        var logIncrement = $.parseJSON( response.data.logcat );

        $scope.logcat = logIncrement;
     });

     $scope.refreshLog = function(){

         $http.get("/device/logcat")
           .then(function (response) {

            // Returned data is currently a string, convert it to JSON
            var logIncrement = $.parseJSON( response.data.logcat );

            $scope.logcat = logIncrement;
         });
     };
     $scope.clearLog = function(){

        $scope.logcat = [];
     };
});

</script>
</body>
</html>