<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController">
<head>
    <title>Search</title>

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-sanitize.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/probe.css" rel="stylesheet">

</head>

<body>
<!-- Bootstrap core JavaScript -->
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<div class="container">

    <br>
    <br>
    <div align="center">
        <a href="/"><img src="/img/icon_64.png"></a>
        <h1>Search</h1>
        <input ng-model="search_path" ng-keypress="changePath($event)"
               placeholder="Path" type="text" size="50" ng-trim="false" >
        {{ indexed_docs | number }} docs
        <a ng-click="indexFiles( search_path, true)">
            <span class="glyphicon glyphicon-refresh"></span></a>
        <button ng-show="show_cancel_button" ng-click="interruptIndexing()">Cancel</button>
        <p align="left" ng-show="show_progress_bar"><strong>Indexing...</strong></p>
        <div class="progress" ng-show="show_progress_bar">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="{{indexed_docs}}" aria-valuemin="0" aria-valuemax="{{total_docs}}"
                 style="{{width_percent}}" align="center">
            </div>
        </div>
    </div>

    <br>

    <div align="center">
        <table class="card">
            <tr>
                <td>
                    <input ng-model="search_entry" ng-keypress="changeSearch($event)"
                           placeholder="Expression" type="text" size="50" autofocus ng-trim="false" >
                    # {{ (log_array|filter:number).length }}
                    <button ng-click="clearLog()"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
            <tr ng-repeat="line in log_array track by $index">
                <td ng-bind-html="getContent(line)" compile="getContent(line)" style="padding: 2px 0;"></td>
            </tr>
        </table>
        <br>
        <p>? for help</p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{view_file_name}}</h4>
            </div>
            <div class="modal-body">
                <pre>{{view_file_content}}</pre>
            </div>
            <div class="modal-footer">
                <p align="left">{{view_file_path}}</p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
    <p>
        &copy;
        <script>
			var d = new Date();
			document.write(d.getFullYear());
		</script>
        Nuvolect LLC -
        <a href="https://nuvolect.com/deepdive_terms/" target="_blank">Terms</a>
        -
        <a href="https://nuvolect.com/privacy/" target="_blank">Privacy</a>
        -
        <a href="https://nuvolect.com/deepdive_help/" target="_blank">Help</a>
    </p>
</div>
<script>

var app = angular.module('myApp', ['ngSanitize','compile']);
app.controller('myController', function($scope, $http, $parse, $sce, $timeout) {

    function getURLParameter(name) {
      return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
    }

    // Add an array or simple variable entry to the top of the log
    function putLogTop( logEntry ){

        <!--if( typeof logEntry === 'object')-->
            <!--return;-->

        var arrayEntries = logEntry;

        if( ! Array.isArray( logEntry ))
            arrayEntries = [ logEntry ];

        $scope.log_array = arrayEntries.concat( $scope.log_array );
    }

    $scope.viewFile = function( file_name, file_path ){

        $scope.view_file_name = file_name;

        $http.get("/omni/get_text/?path="+file_path)
          .then(function (response) {

            // Returned data is currently a string, convert it to JSON
            var result = $.parseJSON( response.data.result );

            $scope.file_name = result.file_name;
            $scope.view_file_content = result.file_content;
            $scope.view_file_path = result.file_path;
        });
    };

    $scope.getContent = function( line ){

        if( line !== null && typeof line === 'object'){

            var file_name =
                "<a data-toggle=\"modal\" data-target=\"#myModal\" ng-click=\"$parent.viewFile(\'"
                +line.file_name+'\',\''+line.file_path+"\')\">"
                +line.file_name+"</a>";

            var num_hits = line.num_hits;
            var file_url =
                    "<a href=\"/view_text_file.html?path="+line.file_path+"\" target=\"_blank\">"+
                        "<span class=\"glyphicon glyphicon-eye-open\"></span></a>";
            var hits_str = " hits, ";
                if( num_hits == 1)
                hits_str = " hit, ";

            var folder_url =
                    "<a href=\""+line.folder_url+"\" target=\"_blank\">"+
                        "<span class=\"glyphicon glyphicon-folder-open\"></span></a>";

            var hit_path = "<br><p>"+line.file_path+"</p>";
            var my_line = file_name+", "+num_hits+hits_str+file_url+"  "+folder_url+hit_path;

           return $sce.trustAsHtml(my_line);
        }
        else{
            return line;
        }
    };

    var search_query = getURLParameter('search_query');
    if( search_query )
        $scope.search_query = search_query;

    var search_path = getURLParameter('search_path');
    $scope.search_path = search_path;

    var force_index = getURLParameter('force_index');
    if( force_index == undefined || force_index != "1"){

        force_index = "0";
    }

    $scope.log_array = [];
    $scope.search_entry = "";

    $scope.changePath = function ($event) {

        var keyCode = $event.which || $event.keyCode;
        if (keyCode === 13) {

            var path = $scope.search_path.trim();
            if( !path || 0 == path.length )
                return;

            if( path.charAt(0) == '?'){
                var help =
                [
                "Enter any valid path, examples: ",
                "/",
                "/DeepDive",
                "/DeepDive/com.nuvolect.deepdive",
                ];

                putLogTop( help );
                putLogTop( path );

                $scope.search_path = "";
                return;
            }

            // New index created if it does not exist, false==not force
            $scope.indexFiles( path, false);
        }
    };

    $scope.indexFiles = function( search_path, force_index ){

        $http.get("/search/index/?search_path="+search_path+"&force_index="+force_index)
          .then(function (response) {

            // Returned data is currently a string, convert it to JSON
            var result = $.parseJSON( response.data.result );

            // index_state:{nil, filetree, indexing, complete, interrupted}
            //    filetree : gen recursive list of files, { total_docs == 0, indexed_docs==0}
            //    indexing : index files, populate { total_docs, indexed_docs }
            //    complete : index is complete, are the same { total_docs, indexed_docs }
            //    interrupted: index process was interrupted and is not complete

            $scope.indexed_docs = result.indexed_docs;
            $scope.index_state = result.index_state;

            if( result.error.length > 0)
                putLogTop( result.error );

            switch( result.index_state ){

                case "filetree":
                    $scope.show_progress_bar = true;
                    $scope.show_cancel_button = true;
                    $scope.width_percent = "width: 5%";
                    putLogTop( "File tree: "+search_path+" ..." );
                break;

                case "indexing":
                    $scope.show_progress_bar = true;
                    $scope.show_cancel_button = true;
                    if( result.total_docs == 0)
                        $scope.width_percent = "width: 5%";
                    else{
                        var num = result.indexed_docs / result.total_docs;
                        var pct = (num*100).toFixed(1) + "%";
                        $scope.width_percent = "width: "+pct;
                    }
                break;

                case "complete":
                    $scope.width_percent = "width: 100%";
                    $scope.show_cancel_button = false;
                    putLogTop( "Path: "+search_path+", "+result.indexed_docs+" docs" );

                    // Brief pause before removing the completed progress bar
                    $timeout( function() {
                        $scope.show_progress_bar = false;
                    }, 1000);
                break;

                case "interrupted":
                    $scope.show_progress_bar = false;
                    $scope.show_cancel_button = false;
                    putLogTop( "Indexing canceled: "+search_path );
                break;
            }

            // When state is filetree or indexing repeat calling to get updated status
            if( result.index_state.includes("filetree") || result.index_state.includes("indexing")){

                $timeout( function() {

                    $scope.indexFiles( search_path, false );

                }, 1000);
            }
        });
    };

    $scope.interruptIndexing = function(){

        $http.get("/search/interrupt_indexing")
          .then(function (response) {

            // Returned data is currently a string, convert it to JSON
            var result = $.parseJSON( response.data.result );

            //FIXME mkk display user friendly result of the interrupt request
            putLogTop( result );
        });
    };

    $scope.changeSearch = function ($event) {

        var keyCode = $event.which || $event.keyCode;
        if (keyCode === 13) {

            search_query = $scope.search_entry.toLowerCase();
            if( !search_query || 0 == search_query.length )
                return;

            if( search_query.charAt(0) == '?' && search_query.length == 1){
                var help =
                [
                "'filename: file*' match filenames that start with 'file'",
                "'content: http*' match content that starts with 'http'",
                "'content: https\\:*'  must escape the ':' character",
                "'content: http* -https*' match files that have http and not https",
                "'*:*' all documents",
                "---below not tested---",
                "192.168*",
                "gmail.com",
                "password",
                "pass*",
                "*pass",
                "pa??word",
                "filename: readme",
                "filename:[a* TO g*] (all filenames starting with a, b or c)",
                "passwd -root (match 'passwd' removing 'root')",
                "passwd +root (match 'passwd' AND 'root')",
                "passwd AND root (match 'passwd' AND 'root')",
                "passwd OR root (match 'passwd' OR 'root')",
                "https://www.cheatography.com/sudhirdaruwala/cheat-sheets/lucene-query-syntax/",
                ];

                putLogTop( help );
                putLogTop( "Expression: "+search_query );

                $scope.search_entry = "";
                return;
            }

            $http.get("/search/search/?search_query="+search_query+"&search_path="+search_path)
              .then(function (response) {

                // Returned data is currently a string, convert it to JSON
                var result = $.parseJSON( response.data.result );

                if( result.error.length > 0)
                    putLogTop( result.error );
                else
                    putLogTop( result.hits );

                var s = " hits";
                if( result.num_hits == 1)
                    s = " hit";
                s = ", "+result.num_hits+s;

                putLogTop( "Expression: "+search_query+s );

                $scope.search_entry = "";
            });
        }
    };

    $scope.clearLog = function(){

        $scope.log_array = [];
        $scope.search_entry = "";
    };

    $scope.indexFiles( search_path, false);
});

// Compile is used when injecting html into the ng-repeat list.
// Without it the ng-click is never called.
  // declare a new module, and inject the $compileProvider
angular.module('compile', [], function($compileProvider) {
  // configure new 'compile' directive by passing a directive
  // factory function. The factory function injects the '$compile'
  $compileProvider.directive('compile', function($compile) {
    // directive factory creates a link function
    return function(scope, element, attrs) {
      scope.$watch(
        function(scope) {
           // watch the 'compile' expression for changes
          return scope.$eval(attrs.compile);
        },
        function(value) {
          // when the 'compile' expression changes
          // assign it into the current DOM
          element.html(value);

          // compile the new DOM and link it to the current
          // scope.
          // NOTE: we only compile .childNodes so that
          // we don't get into infinite loop compiling ourselves
          $compile(element.contents())(scope);
        }
      );
    };
  })
});

</script>
</body>
</html>