<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController">
<head>
    <title>Search</title>

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-sanitize.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/probe.css" rel="stylesheet">
    <script src="/cryptojs-3.1.2/rollups/md5.js"></script>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div ng-include="'./navbar.htm'"></div>

<div class="container">

    <div align="center">
        <h1>Search</h1>
        <a href="search_set.htm?search_path={{ search_path }}">
            <span class="glyphicon glyphicon-th-list"></span></a>
        <input ng-model="search_path" ng-keypress="changePath($event)"
               placeholder="Path" type="text" size="50" ng-trim="false" >
        {{ indexed_docs | number }} docs
        <a ng-click="indexFiles( search_path, true)">
            <span class="glyphicon glyphicon-refresh"></span></a>
        <button ng-show="show_cancel_button" ng-click="interruptIndexing()">Cancel</button>
        <p align="left" ng-show="show_progress_bar"><strong>Indexing...</strong></p>
        <div class="progress" ng-show="show_progress_bar">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="{{indexed_docs}}" aria-valuemin="0" aria-valuemax="{{total_docs}}"
                 style="{{width_percent}}" align="center">
            </div>
        </div>
    </div>

    <br>

    <div align="center">
        <table class="card">
            <tr>
                <td>
                    <input ng-model="search_entry" ng-keypress="changeSearch($event)"
                           placeholder="Expression" type="text" size="50" autofocus ng-trim="false">
                    # {{ (log_array|filter:number).length }}
                    <button ng-click="clearLog()"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
            <tr ng-repeat="line in log_array">
                <td ng-bind-html="getContent(line)" style="padding: 2px 0;"></td>
            </tr>
        </table>
        <br>
        <p>? for help</p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewFileModal" data-backdrop="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{view_file_name}}</h4>
            </div>
            <div class="modal-body">
                <pre>{{view_file_content}}</pre>
            </div>
            <div class="modal-footer">
                <p align="left">{{view_file_path}}</p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div ng-include="'footer.htm'"></div>

<script>

// Workaround for accessing $scope from within ng-repeat
// $parent is not working, ng-click() is never called

var myScope;

function getCtrlScope() {

    return myScope;
}

function saveCtrlScope( ctrlScope ) {// mkk

    myScope = ctrlScope;
}

var app = angular.module('myApp', ['ngSanitize']);
app.controller('myController', function($scope, $http, $parse, $sce, $timeout) {

    $scope.year = new Date().getFullYear(); // footer copyright year

    saveCtrlScope( $scope );

    var search_query = getURLParameter('search_query');
    if( search_query )
        $scope.search_query = search_query;

    var search_path = getURLParameter('search_path');
    $scope.search_path = search_path;

    var force_index = getURLParameter('force_index');
    if( force_index == undefined || force_index != "1"){

        force_index = "0";
    }

    var logCache = [];
    $scope.log_array = [];
    $scope.search_entry = "";

    function getURLParameter(name) {
      return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
    }

    // Add an array or simple variable entry to the top of the log
    function putLogTop( logEntry ){

        var entityType = typeof logEntry;
        if( Array.isArray( logEntry ))
            entityType = "array";

        var arrayEntries = logEntry;

        if( ! Array.isArray( logEntry ))
            arrayEntries = [ logEntry ];

        Array.prototype.unshift.apply( $scope.log_array, arrayEntries);
    }

    // Inject contents of a text file into a modal
    //
    $scope.addModalContent = function( file_name, file_path ){

        $http.get("/omni/get_text/?path="+file_path)
          .then(function (response) {

            // Returned data is currently a string, convert it to JSON
            var result = $.parseJSON( response.data.result );

            $scope.view_file_name = result.file_name;
            $scope.view_file_content = result.file_content;
            $scope.view_file_path = result.file_path;
        });
    };

// Return html for a single line in the log_array with multiple options to view result
// Options include:
//   Modal of the file contents
//   Link to view_text_file page
//   Link to Finder of the file folder
//   Path to the file

    $scope.getContent = function( line ){

        if( typeof line === 'string'){

            var hash = CryptoJS.MD5( line);
            var cachedLine = logCache[ hash ];
            if( cachedLine ){
                return cachedLine;
            }

            logCache[hash] = line;
            cachedLine = logCache[hash];// always return same cached object

            return cachedLine;
        }
        else {

            var hash = CryptoJS.MD5( JSON.stringify(line));
            var cachedLine = logCache[ hash ];
            if( cachedLine ){

                return $sce.trustAsHtml(cachedLine);
            }

            var file_name_modal = // mkk
                "<a data-toggle=\"modal\" data-target=\"#viewFileModal\" onclick=\"getCtrlScope().addModalContent(\'"
                +line.file_name+'\',\''+line.file_path+"\')\">"
                +line.file_name+"</a>";

            var num_hits = line.num_hits;
            var file_url =
                    "<a href=\"/view_text_file.htm?path="+line.file_path+"\" target=\"_blank\">"+
                        "<span class=\"glyphicon glyphicon-eye-open\"></span></a>";
            var hits_str = " hits, ";
                if( num_hits == 1)
                hits_str = " hit, ";

            var folder_url =
                    "<a href=\""+line.folder_url+"\" target=\"_blank\">"+
                        "<span class=\"glyphicon glyphicon-folder-open\"></span></a>";

            var hit_path = "<br><p>"+line.file_path+"</p>";
            var my_line = file_name_modal+", "+num_hits+hits_str+file_url+"  "+folder_url+hit_path;

            logCache[hash] = my_line;
            cachedLine = logCache[hash];// always return same cached object

            return $sce.trustAsHtml(cachedLine);
        }
    };

    $scope.changePath = function ($event) {

        var keyCode = $event.which || $event.keyCode;
        if (keyCode === 13) {

            var path = $scope.search_path.trim();
            if( !path || 0 == path.length )
                return;

            if( path.charAt(0) == '?'){
                var help =
                [
                "Enter any valid path, examples: ",
                "/",
                "/DeepDive",
                "/DeepDive/com.nuvolect.deepdive",
                ];

                putLogTop( help );
                putLogTop( path );

                $scope.search_path = "";
                return;
            }

            // New index created if it does not exist, false==not force
            $scope.indexFiles( path, false);
        }
    };

    $scope.indexFiles = function( search_path, force_index ){

        $http.get("/search/index/?search_path="+search_path+"&force_index="+force_index)
          .then(function (response) {

            // Returned data is currently a string, convert it to JSON
            var result = $.parseJSON( response.data.result );

            // index_state:{nil, filetree, indexing, complete, interrupted}
            //    filetree : gen recursive list of files, { total_docs == 0, indexed_docs==0}
            //    indexing : index files, populate { total_docs, indexed_docs }
            //    complete : index is complete, are the same { total_docs, indexed_docs }
            //    interrupted: index process was interrupted and is not complete

            $scope.indexed_docs = result.indexed_docs;
            $scope.index_state = result.index_state;

            if( result.error.length > 0)
                putLogTop( result.error );

            switch( result.index_state ){

                case "filetree":
                    $scope.show_progress_bar = true;
                    $scope.show_cancel_button = true;
                    $scope.width_percent = "width: 5%";
                    putLogTop( "File tree: "+search_path+" ..." );
                break;

                case "indexing":
                    $scope.show_progress_bar = true;
                    $scope.show_cancel_button = true;
                    if( result.total_docs == 0)
                        $scope.width_percent = "width: 5%";
                    else{
                        var num = result.indexed_docs / result.total_docs;
                        var pct = (num*100).toFixed(1) + "%";
                        $scope.width_percent = "width: "+pct;
                    }
                break;

                case "complete":
                    $scope.width_percent = "width: 100%";
                    $scope.show_cancel_button = false;
                    putLogTop( "Path: "+search_path+", "+result.indexed_docs+" docs" );

                    // Brief pause before removing the completed progress bar
                    $timeout( function() {
                        $scope.show_progress_bar = false;
                    }, 1000);

                    // Indexing is complete, if there is a query use it
                    if( search_query)
                        $scope.searchFiles( search_path, search_query);
                break;

                case "interrupted":
                    $scope.show_progress_bar = false;
                    $scope.show_cancel_button = false;
                    putLogTop( "Indexing canceled: "+search_path );
                break;
            }

            // When state is filetree or indexing repeat calling to get updated status
            if( result.index_state.includes("filetree") || result.index_state.includes("indexing")){

                $timeout( function() {

                    $scope.indexFiles( search_path, false );

                }, 1000);
            }
        });
    };

    $scope.interruptIndexing = function(){

        $http.get("/search/interrupt_indexing")
          .then(function (response) {

            // Returned data is currently a string, convert it to JSON
            var result = $.parseJSON( response.data.result );

            //FIXME mkk display user friendly result of the interrupt request
            putLogTop( result );
        });
    };

    $scope.changeSearch = function ($event) {

        var keyCode = $event.which || $event.keyCode;
        if (keyCode === 13) { // return or enter key

            search_query = $scope.search_entry.toLowerCase();
            if( !search_query || 0 == search_query.length )
                return;

            if( search_query.charAt(0) == '?' && search_query.length == 1){
                var help =
                [
                "+must +include +all +words",
                "+two +words -butnotthisword",
                "'filename: file*' match filenames that start with 'file'",
                "'content: http*' match content that starts with 'http'",
                "'content: https\\:*'  must escape the ':' character",
                "'content: http* -https*' match files that have http and not https",
                "\"gmail.com\"",
                "password",
                "pass*",
                "pa??word",
                "filename: readme",
                "filename:a TO c (all filenames starting with a, b or c)",
                "passwd -root (match 'passwd' removing 'root')",
                "passwd +root (match 'passwd' AND 'root')",
                "passwd AND root (match 'passwd' AND 'root')",
                "passwd OR root (match 'passwd' OR 'root')",
                "https://www.cheatography.com/sudhirdaruwala/cheat-sheets/lucene-query-syntax/",
                ];

                putLogTop( help );
                putLogTop( "Expression: "+search_query );

                $scope.search_entry = "";
                return;
            }

            $scope.searchFiles( search_path, search_query);
        }
    }

    $scope.searchFiles = function( search_path, search_query){

        var encoded_query = encodeURIComponent( search_query );

        $http.get("/search/search/?search_query="+encoded_query+"&search_path="+search_path)
          .then(function (response) {

            // Returned data is currently a string, convert it to JSON
            var result = $.parseJSON( response.data.result );

            if( result.error.length > 0)
                putLogTop( result.error );
            else
                putLogTop( result.hits );

            var s = " hits";
            if( result.num_hits == 1)
                s = " hit";
            s = ", "+result.num_hits+s;

            putLogTop( "Expression: "+search_query+s );

            $scope.search_entry = "";
        });
    }

    $scope.clearLog = function(){

        logCache = [];
        $scope.log_array = [];
        $scope.search_entry = "";
    };

    $scope.indexFiles( search_path, false);
});

</script>
</body>
</html>
