<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController">
<head>
    <title>Search List</title>

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-sanitize.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/lobby.css" rel="stylesheet">
</head>

<body>
<!-- Bootstrap core JavaScript -->
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<div class="container">

    <br>
    <br>
    <div align="center">
        <a href="/"><img src="/img/icon_64.png"></a>
        <h1>Search List</h1>
        <h3>{{search_path}}</h3>
    </div>
    <br>

    <div align="center">

        <form name="myForm">
            <label for="current_list">Choose list:</label>
            <select
                ng-model="current_list"
                ng-change="selectChange()"
                ng-options="x.name for x in lists track by x.name" >
            </select>
            <a href="#" ng-click="showNewListDialog()"><span class="glyphicon glyphicon-plus"></span></a>
            <a
               mw-confirm-click="removeList()"
               mw-confirm-click-message="You are about to delete a list of queries!! Are you sure?" >
               <span class="glyphicon glyphicon-minus"></span></a>
            </a>
        </form>
        <br>

        <div align="center" ng-show="show_new_list_dialog">
            <form class="form-inline">
                <div class="form-group" style="color: Black">
                    List name:
                    <input type="text" ng-model="new_list_name" name="new_list_name" placeholder="Enter new list name">
                </div>
                <button type="submit" class="btn btn-default" ng-click="createList()">Submit</button>
            </form>
            <br>
        </div>

        <table class="card" style="border-collapse: separate; border-spacing: 20px 5px;">

            <tr ng-repeat="x in query_list">
                <td style="padding: 2px 0;">
                    <a href="search.html?search_path={{search_path}}&search_query={{x.query}}">{{x.query}}</a>
                </td>
                <td>{{x.description}}</td>
            </tr>
            <tr ng-hide="query_list.length"><td>No quiries defined</td></tr>

        </table>

        <br>
        <br>
    </div>

</div><!-- /card-container -->

<div ng-include="'footer.html'"></div>

<script>
    var app = angular.module('myApp', ['ngSanitize']);
    app.controller('myController', function($scope, $http) {

        var search_path = getURLParameter('search_path');
        $scope.search_path = search_path;
        $scope.show_new_list_dialog = false;

        function getURLParameter(name) {
          return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
        }

        $scope.showNewListDialog = function(){

            console.log("showNewListDialog");
            $scope.show_new_list_dialog = true;
        }

        $scope.createList = function(){

            console.log("createList: $scope.new_list_name");
            $scope.show_new_list_dialog = false;

            if( $scope.new_list_name ){

                var emptyListFilename = $scope.new_list_name+".json";
                $scope.new_list_name = "";// clear input field for next use

                $http.get("/search/put_list?list=[]&name="+emptyListFilename)
                    .then(function (response) {

                    // Returned data is currently a string, convert it to JSON
                    var result = $.parseJSON( response.data.result );

                    if( result.success === true){

                        $http.get("/search/set_current_list?name="+emptyListFilename)
                            .then(function (response) {

                            // Returned data is currently a string, convert it to JSON
                            var result = $.parseJSON( response.data.result );

                            if( result.success === true){

                                $scope.getLists();
                            }
                        });
                    }
                });
            }
        }

        $scope.removeList = function(){

            $http.get("/search/delete_list?name="+$scope.current_list.filename)
                .then(function (response) {

                // Returned data is currently a string, convert it to JSON
                var result = $.parseJSON( response.data.result );

                if( result.success === true){

                    $scope.getLists();
                }
            });
        }

        $scope.selectChange = function(){

            if( $scope.current_list ){

                $http.get("/search/set_current_list?name="+$scope.current_list.filename)
                    .then(function (response) {

                    // Returned data is currently a string, convert it to JSON
                    var result = $.parseJSON( response.data.result );

                    if( result.success === true){

                        $scope.getCurrentList();
                    }
                });
            }
        }

        $scope.getCurrentList = function(){

            $http.get("/search/get_current_list")
                .then(function (response) {

                // Returned data is currently a string, convert it to JSON
                var result = $.parseJSON( response.data.result );

                // Set query list
                $scope.query_list = result.list;

                // Update select menu by iterating all lists and setting current list object
                var arrayLength = $scope.lists.length;

                for(var i=0; i < arrayLength; i++){

                   if( $scope.lists[i].name === result.name){

                       $scope.current_list = $scope.lists[i];
                       break;
                   }
                }
            });
        }

        // 1. Get the complete set of lists for the select menu
        // 2. Get the persisted current list
        $scope.getLists = function(){

            $http.get("/search/lists")
                .then(function (response) {

                // Returned data is currently a string, convert it to JSON
                var result = $.parseJSON( response.data.result );

                $scope.lists = result.lists;
                $scope.getCurrentList();
            });
        }

        $scope.getLists();
    });
    // http://stackoverflow.com/questions/18313576/confirmation-dialog-on-ng-click-angularjs
    app.directive( "mwConfirmClick", [
      function( ) {
        return {
          priority: -1,
          restrict: 'A',
          scope: { confirmFunction: "&mwConfirmClick" },
          link: function( scope, element, attrs ){
            element.bind( 'click', function( e ){
              // message defaults to "Are you sure?"
              var message = attrs.mwConfirmClickMessage ? attrs.mwConfirmClickMessage : "Are you sure?";
              // confirm() requires jQuery
              if( confirm( message ) ) {
                scope.confirmFunction();
              }
            });
          }
        }
      }
    ]);

</script>
</body>
</html>