<!DOCTYPE html>
<html ng-app="myApp" ng-controller="appListController">
<head>
    <title>Search</title>

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-sanitize.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/probe.css" rel="stylesheet">

</head>

<body>
<!-- Bootstrap core JavaScript -->
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<div class="container">

    <br>
    <br>
    <div align="center">
        <a href="/"><img src="/img/icon_64.png"></a>
        <h1>Search</h1>
        <input ng-model="search_path" ng-keypress="changePath($event)"
               placeholder="Path" type="text" size="50" ng-trim="false" >
        {{ num_docs | number }} docs
        <a href="/search.html?search_path={{search_path}}&force_index=1">
            <span class="glyphicon glyphicon-refresh"></span></a>
    </div>
    <br>

    <div align="center">
        <table class="card">
            <tr>
                <td>
                    <input ng-model="search_entry" ng-keypress="changeSearch($event)"
                           placeholder="Expression" type="text" size="50" autofocus ng-trim="false" >
                    # {{ (log_array|filter:number).length }}
                    <button ng-click="clearLog()"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
            <tr ng-repeat="line in log_array track by $index">
                <td style="padding: 2px 0;">
                    <a data-toggle="modal" data-target="#myModal" ng-click="$parent.viewFile(line.file_path)">{{line.file_name}}</a>
                    , {{line.num_hits}} hits
                </td>
            </tr>
        </table>
        <br>
        <p>? for help</p>

        <br>
        <a data-toggle="modal" data-target="#myModal" ng-click="viewFile('something diff 2')" >click link below button</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{view_file_path}}</h4>
            </div>
            <div class="modal-body">
                <p>This is a large modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
    <p>
        &copy;
        <script>
			var d = new Date();
			document.write(d.getFullYear());
		</script>
        Nuvolect LLC -
        <a href="https://nuvolect.com/deepdive_terms/" target="_blank">Terms</a>
        -
        <a href="https://nuvolect.com/privacy/" target="_blank">Privacy</a>
        -
        <a href="https://nuvolect.com/deepdive_help/" target="_blank">Help</a>
    </p>
</div>
<script>

var app = angular.module('myApp', ['ngSanitize']);
app.controller('appListController', function($scope, $http, $parse, $sce) {

    function getURLParameter(name) {
      return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
    }

    function putLogTop( arrayEntries ){

        var update = arrayEntries.concat( $scope.log_array );
        $scope.log_array = update;
    }

    $scope.viewFile = function( path ){

        <!--$('#myModal').modal('show');-->
debugger;
        $scope.view_file_path = path;
    };

    $scope.getContent = function( line ){

        if( line !== null && typeof line === 'object'){

            // dialog pops up, viewFile function never called
            <!--var file_name =-->
                <!--"<a data-toggle=\"modal\" data-target=\"#myModal\" ng-click=\"viewFile(\'"-->
                <!--+line.file_path+"\')\">"-->
                <!--+line.file_name+"</a>";-->
            var file_name =
                "<a data-toggle=\"modal\" data-target=\"#myModal\" ng-click=\"debugger;$parent.viewFile(\'"
                +line.file_path+"\')\">"
                +line.file_name+"</a>";

            var num_hits = line.num_hits;
            var folder_url =
                    "<a href=\""+line.folder_url+"\" target=\"_blank\">"+
                        "<span class=\"glyphicon glyphicon-folder-open\"></span></a>";
            var my_line = file_name+", "+num_hits+" hits, "+folder_url;

           return $sce.trustAsHtml(my_line);
        }
        else{
            return "<strong>"+line+"</strong>";
        }
    };

    // called when the viewFile dialog pops up
    <!--$('#myModal').on('shown.bs.modal', function (e) {-->

        <!--$http.get("/connector/?cmd=deepdive&test_id=view_file&path="+view_file_path)-->
          <!--.then(function (response) {-->

            <!--// Returned data is currently a string, convert it to JSON-->
            <!--var result = $.parseJSON( response.data.result );-->

             <!--$scope.view_file_contents = response.contents;-->
        <!--});-->
    <!--})-->

    var search_query = getURLParameter('search_query');
    $scope.search_query = search_query;
    var search_path = getURLParameter('search_path');
    $scope.search_path = search_path;

    var force_index = getURLParameter('force_index');
    if( force_index == undefined || force_index != "1"){

        force_index = "0";
    }

    $scope.log_array = [];
    $scope.search_entry = "";

    $scope.changePath = function ($event) {

        var keyCode = $event.which || $event.keyCode;
        if (keyCode === 13) {

            var path = $scope.search_path.trim();
            if( !path || 0 == path.length )
                return;

            if( path.charAt(0) == '?'){
                var help =
                [
                "Enter any valid path, examples: ",
                "/",
                "/DeepDive",
                "/DeepDive/com.nuvolect.deepdive",
                ];

                putLogTop( help );
                putLogTop( ["Path: "+path] );

                $scope.search_path = "";
                return;
            }

            indexPath( path );
        }
    };
    $scope.changeSearch = function ($event) {

        var keyCode = $event.which || $event.keyCode;
        if (keyCode === 13) {

            search_query = $scope.search_entry.trim();
            if( !search_query || 0 == search_query.length )
                return;

            if( search_query.charAt(0) == '?'){
                var help =
                [
                "Enter any Lucene expression, examples: ",
                "http::",
                "gmail.com",
                "password",
                "passphrase",
                ];

                putLogTop( help );
                putLogTop( ["Expression: "+search_query] );

                $scope.search_entry = "";
                return;
            }

            $http.get("/connector/?cmd=deepdive&test_id=search&search_query="+search_query+"&search_path="+search_path)
              .then(function (response) {

                // Returned data is currently a string, convert it to JSON
                var result = $.parseJSON( response.data.result );

                putLogTop( result );
                putLogTop( ["Expression: "+search_query] );

                $scope.search_entry = "";
                return;
            });
        }
    };

    function indexPath( search_path, force_index ){

        $scope.num_docs = "Indexing...";

        $http.get("/connector/?cmd=deepdive&test_id=search_index&search_path="+search_path+"&force_index="+force_index)
          .then(function (response) {

            // Returned data is currently a string, convert it to JSON
            var result = $.parseJSON( response.data.result );

            $scope.num_docs = result.num_docs;

            putLogTop( ["Path: "+search_path] );

            return;
        });
    };

    $scope.clearLog = function(){

        $scope.log_array = [];
        $scope.search_entry = "";
    };

    indexPath( search_path, force_index );
});

</script>
</body>
</html>