<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController">
<head>
    <title>Search Set</title>

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/search_set.css" rel="stylesheet">
</head>

<body>

<div ng-include="'./navbar.htm'"></div>

<div class="container">

    <div align="center">
        <h1>Search Set</h1>
        <h3>{{search_path}}</h3>
    </div>
    <br>

    <div align="center">

        <form name="myForm">
            <label for="current_set">Choose set:</label>
            <select
                    ng-model="current_set"
                    ng-change="selectChange()"
                    ng-options="x.name for x in sets track by x.name" >
            </select>
            <a ng-show="edit_mode"
               href="#" ng-click="showNewSetDialog()"><span class="glyphicon glyphicon-plus"></span>
            </a>
            <a ng-show="edit_mode"
               mw-confirm-click="removeSet()"
               mw-confirm-click-message="You are about to delete a set of queries!! Are you sure?" >
                <span class="glyphicon glyphicon-minus"></span></a>
            </a>
            <button ng-click="startSearch()" ng-disabled="start_button_disabled">Start</button>
        </form>
        <br>

        <div align="center" ng-show="show_new_set_dialog">
            <form class="form-inline">
                <div class="form-group" style="color: Black">
                    Set name:
                    <input type="text" ng-model="new_set_name" name="new_set_name" placeholder="Enter new set name">
                </div>
                <button type="submit" class="btn btn-default" ng-click="createSet()">Submit</button>
            </form>
            <br>
        </div>

        <div ng-show="show_danger_alert" class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{danger_alert_message}}</strong>
        </div>

        <div ng-show="show_success_alert" class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{success_alert_message}}</strong>
        </div>

        <table class="card" style="border-collapse: separate; border-spacing: 20px 5px;">

            <tr>
                <th align="right">Hits</th>
                <th>Query</th>
                <th>Description</th>
            </tr>
            <tr ng-repeat="x in search_set | orderBy: '-num_hits'">
                <td align="right">{{x.num_hits}}</td>
                <td style="padding: 2px 0;">
                    <a href="search.htm?search_path={{search_path}}&search_query={{x.encodedQuery}}">{{x.query}}</a>
                </td>
                <td>{{x.description}}</td>
                <td ng-show="edit_mode"><a
                        mw-confirm-click="removeQuery( x.query )"
                        mw-confirm-click-message="You are about to delete a query!! Are you sure?" >
                    <span class="glyphicon glyphicon-minus"></span></a>
                    </a>
                </td>
            </tr>
            <tr ng-hide="search_set.length"><td></td><td>No queries defined</td></tr>


            <tr ng-show="edit_mode">
                <td></td>
                <td>
                    <div align="left">
                        <a href="#" ng-click="show_new_query_dialog=true;"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </td>
            </tr>

            <div align="left" ng-show="show_new_query_dialog">
                <tr ng-show="show_new_query_dialog">
                    <td></td>
                    <form class="form-inline">
                        <div class="form-group" style="color: Black">
                            <td>
                                <input type="text" ng-model="new_query" name="new_query"
                                       placeholder="Enter new query">
                            </td>
                            <td>
                                <input type="text" ng-model="new_query_description"
                                       name="new_query_description"
                                       placeholder="Enter query description"
                                       size="42" >
                            </td>
                        </div>
                <tr ng-show="show_new_query_dialog">
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-default" ng-click="createQuery()">Submit</button>
                    </td>
                </tr>
                </form>
                <br>
            </div>
        </table>
        <br>
        <label>Edit <input type="checkbox" ng-model="edit_mode" ng-click="editChecked()"></label>

    </div>

</div><!-- /card-container -->
<br>
<br>

<div ng-include="'footer.htm'"></div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function($scope, $http) {

        $scope.year = new Date().getFullYear(); // footer copyright year

        var search_path = getURLParameter('search_path');
        $scope.search_path = search_path;
        $scope.show_new_set_dialog = false;
        $scope.show_new_query_dialog = false;
        $scope.search_set = [];
        $scope.searchLength = 0;
        $scope.currentSearch = -1;
        $scope.start_button_disabled = false;
        $scope.show_danger_alert = false;
        $scope.show_success_alert = false;

        function getURLParameter(name) {
          return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
        }

        $scope.dangerAlert = function( message ){

            $scope.danger_alert_message = message;
            $scope.show_danger_alert = true;
        }

        $scope.successAlert = function( message ){

            $scope.success_alert_message = message;
            $scope.show_success_alert = true;
        }

        $scope.createQuery = function(){

            var obj = {
                query:$scope.new_query,
                description:$scope.new_query_description
            };
            $scope.search_set.push( obj );

            <!--console.log("createQuery(): "+$scope.new_query);-->
            <!--console.log("createQuery(): "+$scope.new_query_description);-->

            // Hide the dialog
            $scope.show_new_query_dialog = false;

            // Clear input fields for next use
            $scope.new_query = "";
            $scope.new_query_description = "";

            var cleanList = angular.toJson( $scope.search_set );
            var encodedList = encodeURIComponent( cleanList );

            $http.get("/search/put_set?set="+encodedList+"&name="+$scope.current_set.filename)
                .then(function (response) {

                // Returned data is currently a string, convert it to JSON
                var result = $.parseJSON( response.data.result );

                if( ! result.success === true){

                    $scope.dangerAlert("Error saving query set");
                }
            });
        }

        $scope.removeQuery = function( query ){

            <!--console.log("removeQuery(): "+query);-->

            // Find index by iterating the set
            var arrayLength = $scope.search_set.length;

            for(var i=0; i < arrayLength; i++){

               if( $scope.search_set[i].query === query){

                   $scope.search_set.splice( i, 1);
                   break;
               }
            }
            // Memory set is updated, now save it to server
            var cleanList = angular.toJson( $scope.search_set );

            $http.get("/search/put_set?set="+cleanList+"&name="+$scope.current_set.filename)
                .then(function (response) {

                // Returned data is currently a string, convert it to JSON
                var result = $.parseJSON( response.data.result );

                if( result.success === true){

                    $scope.successAlert("Search set saved");
                }
                else
                    $scope.dangerAlert("Error saving set");
            });
        }

        $scope.startSearch = function(){

            <!--console.log("startSearch");-->

            $scope.start_button_disabled = true;
            $scope.searchLength = $scope.search_set.length;
            $scope.currentSearch = -1;

            $scope.nextSearch();
        }

        // Iterate a single search event
        $scope.nextSearch = function(){

            if( ++ $scope.currentSearch >= $scope.searchLength){

                $scope.start_button_disabled = false;
                <!--console.log("last search complete");-->
                return;
            }
            var search_query = $scope.search_set[ $scope.currentSearch ].query;
            var encoded_query = encodeURIComponent( search_query );

            $http.get("/search/search?search_path="+ search_path +"&search_query="+ encoded_query)
                .then(function (response) {

                // Returned data is currently a string, convert it to JSON
                var result = $.parseJSON( response.data.result );

                // Save number of hits and iterate to the next search
                $scope.search_set[ $scope.currentSearch ].num_hits = result.num_hits;;

                $scope.nextSearch();
            });
        }

        $scope.showNewSetDialog = function(){

            <!--console.log("showNewSetDialog");-->
            $scope.show_new_set_dialog = true;
        }

        $scope.createSet = function(){

            <!--console.log("createSet: $scope.new_set_name");-->
            $scope.show_new_set_dialog = false;

            if( $scope.new_set_name ){

                var emptySetFilename = $scope.new_set_name+".json";
                $scope.new_set_name = "";// clear input field for next use

                $http.get("/search/put_set?set=[]&name="+emptySetFilename)
                    .then(function (response) {

                    // Returned data is currently a string, convert it to JSON
                    var result = $.parseJSON( response.data.result );

                    if( result.success === true){

                        // Update name made "safe" by server
                        emptySetFilename = result.name;

                        $http.get("/search/set_current_set?name="+emptySetFilename)
                            .then(function (response) {

                            // Returned data is currently a string, convert it to JSON
                            var result = $.parseJSON( response.data.result );

                            if( result.success === true){

                                $scope.getSets();
                            }
                        });
                    }
                    else
                        $scope.dangerAlert("Error creating set");
                });
            }
        }

        $scope.removeSet = function(){

            $http.get("/search/delete_set?name="+$scope.current_set.filename)
                .then(function (response) {

                // Returned data is currently a string, convert it to JSON
                var result = $.parseJSON( response.data.result );

                if( result.success === true){

                    $scope.getSets();
                }
                else
                    $scope.dangerAlert("Error removing set");
            });
        }

        $scope.selectChange = function(){

            if( $scope.current_set ){

                $http.get("/search/set_current_set?name="+$scope.current_set.filename)
                    .then(function (response) {

                    // Returned data is currently a string, convert it to JSON
                    var result = $.parseJSON( response.data.result );

                    if( result.success === true){

                        $scope.getCurrentSet();
                    }
                    else
                        $scope.dangerAlert("Error changing set");
                });
            }
        }

        $scope.getCurrentSet = function(){

            $http.get("/search/get_current_set")
                .then(function (response) {

                // Returned data is currently a string, convert it to JSON
                var result = $.parseJSON( response.data.result );

                // Set query set
                var setNoHits = result.set;
                for(var i=0; i < setNoHits.length; i++){
                    setNoHits[i].num_hits = '-';
                    setNoHits[i].encodedQuery = encodeURIComponent( setNoHits[i].query );
                }
                $scope.search_set = setNoHits;

                // Update select menu by iterating all sets and setting current set object
                var arrayLength = $scope.sets.length;

                for(var i=0; i < arrayLength; i++){

                   if( $scope.sets[i].name === result.name){

                       $scope.current_set = $scope.sets[i];
                       break;
                   }
                }
            });
        }

        // 1. Get the complete set of sets for the select menu
        // 2. Get the persisted current set
        $scope.getSets = function(){

            $http.get("/search/get_sets")
                .then(function (response) {

                // Returned data is currently a string, convert it to JSON
                var result = $.parseJSON( response.data.result );

                $scope.sets = result.sets;
                $scope.getCurrentSet();
            });
        }

        $scope.getSets();
    });
    // http://stackoverflow.com/questions/18313576/confirmation-dialog-on-ng-click-angularjs
    app.directive( "mwConfirmClick", [
      function( ) {
        return {
          priority: -1,
          restrict: 'A',
          scope: { confirmFunction: "&mwConfirmClick" },
          link: function( scope, element, attrs ){
            element.bind( 'click', function( e ){
              // message defaults to "Are you sure?"
              var message = attrs.mwConfirmClickMessage ? attrs.mwConfirmClickMessage : "Are you sure?";
              // confirm() requires jQuery
              if( confirm( message ) ) {
                scope.confirmFunction();
              }
            });
          }
        }
      }
    ]);

</script>
</body>
</html>