<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController">
<head>
    <title>Shell</title>

    <script src="/js/angular.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/probe.css" rel="stylesheet">

</head>

<body>
<!-- Bootstrap core JavaScript -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<div ng-include="'./navbar.htm'"></div>

<div class="container">

    <div align="center">
        <h1>Shell</h1>
        <table class="card">
            <tr ng-repeat="l in shell_log | filter : search track by $index">
                <td style="padding: 2px 0;"> {{ l }} </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <input placeholder="$" type="text" size="50" autofocus ng-model="shell_cmd" ng-trim="false" ng-keypress="change($event)" >
                    # {{ (shell_log|filter:search).length }}
                    <button ng-click="clearLog()"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    ? for help
                </td>
            </tr>
        </table>
    </div>
</div>

<br>
<br>

<div ng-include="'footer.htm'"></div>

<script>

var app = angular.module('myApp', []);
app.controller('myController', function($scope, $http, $parse) {

    $scope.year = new Date().getFullYear(); // footer copyright year
    $scope.shell_log = [];
    $scope.shell_cmd = "";

    $scope.change = function ($event) {

        var keyCode = $event.which || $event.keyCode;
        if (keyCode === 13) {

        command = $scope.shell_cmd.trim();
        if( !command || 0 == command.length )
            return;

        if( command.charAt(0) == '?'){
            var help =
            [
            "cat /proc/meminfo",
            "find /system/app",
            "hostname",
            "logcat -d",
            "mount",
            "netstat",
            "ps",
            "pwd",
            "top -n 1 -d 1",
            ];

            var update = $scope.shell_log.concat( ["$ "+command] );
            update = update.concat( help );
            $scope.shell_log = update;
            $scope.shell_cmd = "";
            return;
        }

        $http.get("/device/shell/?shell_cmd="+command)
          .then(function (response) {

            // Returned data is currently a string, convert it to JSON
            var log = $.parseJSON( response.data.shell_log );

            var update = $scope.shell_log.concat( ["$ "+command] );
            update = update.concat( log );
            $scope.shell_log = update;
            $scope.shell_cmd = "";
            return;
        });
    }
    };
         $scope.clearLog = function(){

         $scope.shell_log = [];
         $scope.shell_cmd = "";
     };
});

</script>
</body>
</html>